<div class="container">
    <div class="row">
      <div class="create-community-container">
        <form class="post-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
          <div class="form-group">
            <div class="create-community-heading">Create Community</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px; background-color: #0b0f3c; color: white;"
              placeholder="Title">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px; background-color: #0b0f3c; color: white;"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateCommunity">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
       <div class="col-md-3">
        <div class="sidebar"><br>
          <div class="description">
            <img src="./assets/images/dummy.jpg"/>
            <br>
            <h5 class="guidelines">Your personal CRUMBLE frontpage. Come here to check in with your favorite communities.</h5>
            <h5 class="guidelines">Posting to CRUMBLE Community</h5>
            <hr />
            <ul>
              <li>Remember the human</li>
              <li>Behave like you would in real life</li> 
              <li>Look for the original source of content</li>
              <li>Search for duplicates before posting</li>
              <li>Read the community’s rules</li><hr />
            </ul>
          </div>
          
        </div> 
      </div>
    </div>
  </div>
