<div class="container"  style="position: fixed;">
    <div class="row">
      <div class="create-community-container">
        <form class="post-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
          <div class="form-group">
            <div class="create-community-heading">Create Community</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px; background-color: #0b0f3c; color: white;"
              placeholder="Title">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px; background-color: #0b0f3c; color: white;"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateCommunity">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
       <div class="col-md-3">
        <div class="sidebar"><br>
          <div class="description">
            <img src="./assets/images/sideb.jpg"/>
            <br>
            <h5 class="guidelines">Createing new Community for Crumble.</h5>
            <h5 class="guidelines">Posting to CRUMBLE Community</h5>
            <hr />
            <ul>
              <li>Remember the human</li>
              <li>Follow The Guidelines Before Creating Community</li> 
              <li>First Search For the community You are looking for</li>
              <li>Community Must Enforce Users To Follow The guidelines</li>
              <li>If the community OR the Community User Fails to Follow The Guidelines, Community Will be banned</li><hr />
            </ul>
          </div>
          
        </div> 
      </div>
    </div>
  </div>
