.container{
  margin-right: 350px;
  margin-left: -45px;
  margin-top: 90px;
  width: 3000px;
  
}
.post-title {
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.post-title:hover {
  opacity: 0.6;
}

.community-text {
  font-weight: bold;
}

.post-url {
  color: red;
}

.username{
    color: #71b6ff;
}

.post-text{
    margin-top: 10px;
}

.post{
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #02153c;
    color: white;
    position: relative; 
    border-radius: 4px;
    padding:2px;
    
}

.comment{
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #2f2f30;
    position: relative;
    border-radius: 4px;
    padding:5px;
}
.community-side-bar{
  margin-top: -20px;
  margin-left: 15px;
}
.sidebar{
  margin-left: 1280px;
  margin-top: 5px; 
  position: fixed;  
  float: right;
} 