.btnCreatePost,
.btnCreateCommunity {
  margin-top: 5px;
}

.post-form {
  margin: 2px;
}
.container{
  margin-top: 90px;
  margin-left: 130px;
  width: 900px;
}
.form-control{
  border-color: rgb(66, 65, 65);
}
.comment-notification {
  margin-top: 5px;
}

.create-post-container {
  margin-top: 10px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color:#000714;
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding: 5px;
  box-shadow:0px 1px 10px red;

}

.btnDiscard {
     background-color:#000714;
    border-color:#000714;
    color: red;
    fill:#000714;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 34px;
    margin-top: 5px;
    
  }

.create-post-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: white;
  -ms-flex: 1;
  flex: 1;
}

.btnCreatePost {
    background-color:#000714;
    border-color:#000714;
    color: red;
    fill:#000714;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 34px;
  }
textarea{
  width: 660px;
  height: 100px;
} 