<div class="sidebar">
    <img src="../../../assets/images/SB.jpg" height="120" />
  <div style="text-align: center; font-size: 1em">Welcome to CRUMBLE home page. Come here to
        check in with your favorite communities.
  </div><br>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateCommunity" (click)="goToCreateCommunity()">Create Community</button>
    </div>
</div>
