<div class="container">
  <div class="details">
    <!-- Welcome <span>{{name}}</span>.<br /> You have posted <b>{{postLength}}</b> time(s) and commented
    <b>{{commentLength}}</b> time(s).
    You can check your post and comment history below.
  </div>
  <hr />
  <div class="post-details">
    Your Posts:
  </div>
   <app-post-tile [posts]="posts"></app-post-tile> 
  <hr />
  <div class="comment-details">
    Your Comments:
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment">
      <div class="username">
        <a routerLink="/user/comment.username">{{comment.username}}</a>
      </div>
      <div>
        <p>{{comment.duration}}</p>
      </div>
      <b>{{comment.text}}</b>
    </div>
    <hr /> -->
    <div class="profile">
      <div class="upper-container">
        <img src="./assets/images/userbg2.jpg">
          <div class="img-container">
            <img src="./assets/images/u.png"> <h3>{{name}}</h3>
          </div>
      </div>
    </div>
  </div>
</div> 
<div class="container-a">
  <app-user-post [posts]="posts"></app-user-post>
</div> 