/* .col-md-9{
    padding-left: 110px;
}
.col-md-3{
    padding-left: 60px;
    padding-right: 0px;
}
.row{
    margin-left: 1px;
}
.CRUMBLE-body{

} */
.row{
    margin-top: 70px;
    margin-left: -105px;

}
.post-d{
    margin-top: 1px;
    margin-left: -2px;
    margin-right: 25px;
    width: 500px;
}